.btn{
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.42857143;
  padding: 0.26rem 1rem;
  margin-bottom: 0.26rem;
  margin-top: 0.26rem;
  border: 1 px solid transparent;
  white-space: nowrap;
  vertical-align: middle;
}

.btn{
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  color: black;
}

.btn:hover{
  background-color: black;
  border: 2px solid rgba(0, 0, 0, 1);
  color: white;
  transition: background-color .15s ease-in-out;
}